@font-face{
    font-family: 'ralewaybold';
    src: url(../polices/raleway-bold-webfont.eot);
    src: url(../polices/raleway-bold-webfont.svg);
    src: url(../polices/raleway-bold-webfont.ttf);
    src: url(../polices/raleway-bold-webfont.woff);
    src: url(../polices/raleway-bold-webfont.woff2);
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'ralewayregular';
    src: url(../polices/raleway-regular-webfont.eot);
    src: url(../polices/raleway-regular-webfont.svg);
    src: url(../polices/raleway-regular-webfont.ttf);
    src: url(../polices/raleway-regular-webfont.woff);
    src: url(../polices/raleway-regular-webfont.woff2);
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'ralewaymedium';
    src: url(../polices/raleway-medium-webfont.eot);
    src: url(../polices/raleway-medium-webfont.svg);
    src: url(../polices/raleway-medium-webfont.ttf);
    src: url(../polices/raleway-medium-webfont.woff);
    src: url(../polices/raleway-medium-webfont.woff2);
    font-weight: normal;
    font-style: normal;
}

.page{
 background-color: #F0F2F6;
 width: 1400px;
}

#logo img{
width: 61.09px;
height: 19px;
margin-top: 44px;
margin-left: 55px;
}

#logo{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

nav ul{
        list-style-type: none;
        display: flex;
        margin-left: 1003.91px;
        margin-top: 48px;
                
}
 
span{
    font-family: 'ralewaymedium';
    color: #0065FC;
    
}

a {
    font-family: 'ralewayregular';
    font-size: 16px;
    color:black; 
    text-decoration: none;
}

nav li{
       margin-right: 67px;
       
}

header h1{
font-family: 'ralewaybold';
font-size: 22px;
margin-top: 63px;
margin-left: 55px;
}

header p{
    font-family: 'ralewayregular';
    font-size: 16px;
    margin-top: 8px;
    margin-left: 55px;
}

form{
    display: flex;
    align-items: center;
}

#iconeloc{
    width: 50px;
    height: 49px;
    background: #F2F2F2;
 border: 1px solid #F2F2F2;
 border-radius: 15px 0px 0px 15px;
 position: absolute;
 margin-left: 55px;
 display: flex;
 text-align: center;
 }
 
 i.fa-location-dot{
     margin: auto;
     width: 14px;
     height: 18px;
 }
 
 #rechercheville{
     width: 332px;
     height: 49px;
     font-size: 18px;
     font-family: 'ralewaybold';
     border-radius: 15px;
     border: 1px solid #F2F2F2;
     background: #FFFFFF;  
     padding-left: 67px;
     margin-left: 55px;
 }
 
 #bloc_recherche{
    width: 132px;
    height: 49px;
    color: #0065FC;
border-radius : 0 px 15 px 15 px 0  px ;
position:absolute;
left: 341px;
 }
 
 button{
     font-family: 'ralewaybold';
     font-size: 18px;
     color: #FFFFFF;
     width: 132px;
     height: 49px;
 background: #0065FC;
 border: 1px solid #0065FC;
 border-radius: 0px 15px 15px 0px;
 }

#information p{
    font-family: 'ralewaybold';
}

article{
display: flex;
flex-direction: row;
text-align:center;
justify-content: space-between;
margin-top: 46px;
margin-left: 62px;
}

article h3{
    font-family: 'ralewaybold';
    font-size: 18px;
}

article .boutonmenu{
    margin:auto;
    box-sizing: border-box;
    border: 2px solid #D9D9D9;
    border-radius: 25px;
    background-color: #DEEBFF;
    display: flex;
    
    
}

article p{
    
    font-size: 17px;
    font-family: 'ralewaybold';
    margin:auto;
    color: #000000;
}

article i.fa-solid{
    margin:auto;
    color: #0065FC;
    padding-right: 10px;
}

section{
    width: 880px;
    height: 626px;
    background: #F2F2F2;
    border-radius: 20px;
    margin-left: 50px;
}

.Lieux{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 40px;
}

#Cannebière{
    width: 246px;
    height: 199px;
    background: #FFFFFF;
    border-radius: 20px;
    flex: none;
    margin-bottom: 30px;
}

#auberge_la_cannebière{
    box-sizing: border-box;
    width: 246px;
    height: 124px;
    border: 5px solid #FFFFFF;
    border-radius: 20px 20px 0px 0px;
}

#Port{
    width: 246px;
    height: 199px;
    background: #FFFFFF;
    border-radius: 20px;
    flex: none;
    margin-bottom: 30px;
}

#hotel_du_port{
    box-sizing: border-box;
    width: 246px;
    height: 124px;
    border: 5px solid #FFFFFF;
    border-radius: 20px 20px 0px 0px;
}

#Mouettes{
    width: 246px;
    height: 199px;
    background: #FFFFFF;
    border-radius: 20px;
    flex: none;
    margin-bottom: 30px;
}

#hotel_les_mouettes{
    box-sizing: border-box;
    width: 246px;
    height: 124px;
    border: 5px solid #FFFFFF;
    border-radius: 20px 20px 0px 0px;
}

#Mer{
    width: 246px;
    height: 199px;
    background: #FFFFFF;
    border-radius: 20px;
    flex: none;
}

#hotel_de_la_mer{
    box-sizing: border-box;
    width: 246px;
    height: 124px;
    border: 5px solid #FFFFFF;
    border-radius: 20px 20px 0px 0px;
}

#Panier{
    width: 246px;
    height: 199px;
    background: #FFFFFF;
    border-radius: 20px;
    flex: none;
}

#auberge_le_panier{
    box-sizing: border-box;
    width: 246px;
    height: 124px;
    border: 5px solid #FFFFFF;
    border-radius: 20px 20px 0px 0px;
}

#Amina{
    width: 246px;
    height: 199px;
    background: #FFFFFF;
    border-radius: 20px;
    flex: none;
}

#hotel_chez_amina{
    box-sizing: border-box;
    width: 246px;
    height: 124px;
    border: 5px solid #FFFFFF;
    border-radius: 20px 20px 0px 0px;
}

.container{
    display: flex;
   padding-right: 50px;
    padding-left: 50px;
}

#populaire{
    width: 420px;
    height: 625px;
    background: #F2F2F2;
    border-radius: 20px;
    margin-left: 40px;
    margin-right: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#matin{
    width: 343px;
    height: 144px;
    background: #FFFFFF;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
}

#textmatin{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

#hotel_le_soleil_du_matin{
    box-sizing: border-box;
    width: 133px;
    height: 144px;
    border: 5px solid #FFFFFF;
    border-radius: 20px 0px 0px 20px;
}

#chambreshôtes{
    width: 343px;
    height: 144px;
    background: #FFFFFF;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
}

#textchambres{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    
}

#Chambres_hôtes_eau{
    box-sizing: border-box;
    width: 133px;
    height: 144px;
    border: 5px solid #FFFFFF;
    border-radius: 20px 0px 0px 20px;
}

#Bleuetblanc{
    width: 343px;
    height: 144px;
    background: #FFFFFF;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
}

#textbleuetblanc{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

#Hôtel_bleu_et_blanc{
    box-sizing: border-box;
    width: 133px;
    height: 144px;
    border: 5px solid #FFFFFF;
    border-radius: 20px 0px 0px 20px;
}

.activitésmar{
    display: flex;
    flex-direction: row;
}

#Vieuxport{
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    margin-right: 43px;
}

#textport{
    width: 302px;
    height: 56px;
    background: #2e324b;
border-radius: 0px 0px 20px 20px;   
}

#vieux_port{
    width: 302px;
    height: 389px;
    border-radius: 20px 20px 0px 0px;
}

#Fortpomègues{
    display: flex;
    flex-direction: column;
    margin-right: 43px;
}

#textpomègues{
    width: 302px;
    height: 56px;
    background: #2e324b;
border-radius: 0px 0px 20px 20px;   
}

#fort_de_pomègues{
    width: 302px;
    height: 389px;
    border-radius: 20px 20px 0px 0px;
}

#Calanques{
    display: flex;
    flex-direction: column;
    margin-right: 43px;
}

#textcalanques{
    width: 302px;
    height: 56px;
    background: #2e324b;
border-radius: 0px 0px 20px 20px;   
}

#Parc_national_des_calanques{
    width: 302px;
    height: 389px;
    border-radius: 20px 20px 0px 0px;
}

#Notredame{
    display: flex;
    flex-direction: column;
    margin-right: 43px;
}

#textnotredame{
    width: 302px;
    height: 56px;
    background: #2e324b;
border-radius: 0px 0px 20px 20px;   
}

#Notre_dame_de_la_garde{
    width: 302px;
    height: 389px;
    border-radius: 20px 20px 0px 0px;

}

footer{
    display: flex;
    flex-direction: row;
    background: #F2F2F2;
    justify-content: space-around;
    margin-top: 61px;
}