@font-face{
    font-family: 'ralewaybold';
    src: url(../polices/raleway-bold-webfont.eot);
    src: url(../polices/raleway-bold-webfont.svg);
    src: url(../polices/raleway-bold-webfont.ttf);
    src: url(../polices/raleway-bold-webfont.woff);
    src: url(../polices/raleway-bold-webfont.woff2);
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'ralewayregular';
    src: url(../polices/raleway-regular-webfont.eot);
    src: url(../polices/raleway-regular-webfont.svg);
    src: url(../polices/raleway-regular-webfont.ttf);
    src: url(../polices/raleway-regular-webfont.woff);
    src: url(../polices/raleway-regular-webfont.woff2);
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'ralewaymedium';
    src: url(../polices/raleway-medium-webfont.eot);
    src: url(../polices/raleway-medium-webfont.svg);
    src: url(../polices/raleway-medium-webfont.ttf);
    src: url(../polices/raleway-medium-webfont.woff);
    src: url(../polices/raleway-medium-webfont.woff2);
    font-weight: normal;
    font-style: normal;
}

body{
 background-color:#F0F2F6;
}

#bloc_page{
    max-width: 1400px;
    margin: auto;
}

#logo img{
    width: 61.09px;
    height: 19px;
    padding-top: 44px;
    padding-left: 55px;
    }
    
#logo{
    display: flex;
    flex-direction: row;
    
}

header ul{
     list-style-type: none;
     display: flex;
     margin-top: 48px;  
     padding-left: 1025px;   
     margin-right: 77px;        
 }
    
header a {
    font-family: 'ralewayregular';
    font-size: 16px;
    color:black; 
    text-decoration: none;
 }
    
header li{
    margin-right: 67px;    
 }

header a:hover {
    border-top: 2px solid #0065FC;
    padding-top: 46px;
  }

header a:focus{
    color: #0065FC;
    font-family: 'ralewaymedium';
}

header h1{
font-family: 'ralewaybold';
font-size: 22px;
margin-top: 63px;
margin-left: 55px;
}

header h2{
    font-family: 'ralewayregular';
    font-size: 16px;
    margin-top: 8px;
    margin-left: 55px;
}

form{
    display: flex;
    align-items: center;
    width: 965px;
    height: 49px;
    margin-bottom: 46px;
}

#rechercheville::placeholder{
    color: #000000;
}

#iconeloc{
    width: 50px;
    height: 49px;
    background: #F2F2F2;
 border: 1px solid #F2F2F2;
 border-radius: 15px 0px 0px 15px;
 position: absolute;
 display: flex;
 text-align: center;
 margin-left: 55px;
 }
 
 i.fa-location-dot{
     margin: auto;
 }
 
 #rechercheville{
     width: 332px;
     height: 49px;
     font-size: 18px;
     font-family: 'ralewaybold';
     border-radius: 15px;
     border: 1px solid #F2F2F2;
     background: #FFFFFF;  
     padding-left: 67px;
     margin-left: 55px;
 }
 
 #bloc_recherche{
    width: 132px;
    height: 49px;
    color: #0065FC;
border-radius : 0 px 15 px 15 px 0  px ;
position:absolute;
margin-left: 341px;
 }
 
 button{
     font-family: 'ralewaybold';
     font-size: 18px;
     color: #FFFFFF;
     width: 132px;
     height: 49px;
 background: #0065FC;
 border: 1px solid #0065FC;
 border-radius: 0px 15px 15px 0px;
 }

#choixoption{
    display: flex ;
   margin-left: 62px;
   margin-top: 31px;
   width: 914px;
}

#choixoption h3{
    font-family: 'ralewaybold';
    font-size: 18px;
}
    
#choixoption .boutonmenu{
    display: flex;
    border: 2px solid #D9D9D9;
    border-radius: 25px;
    background-color: #F0F2F6;
    width: max-content;
    margin: auto;
}

#choixoption .boutonmenu:focus{
    background-color: #DEEBFF;
}

#choixoption p{
    margin: auto;
    font-size: 17px;
    font-family: 'ralewaybold';
    color: #000000;
    padding-right: 20px;
}

#choixoption i.fa-solid{
    margin: auto;
    color: #0065FC;
    padding-right: 10px;
    padding-left: 20px;
}

#information{
    display: flex;
    align-items: center;
    margin-left: 59px;
    margin-top: 35px;
    margin-bottom: 39px;
}

#information p{
    font-family: 'ralewayregular';
    font-size: 16px; 
    padding-left: 11px;
}

i.fa-info{
    border: 1px solid #D9D9D9;
    border-radius: 50px;
    color: #0065FC;
    width: 4px;
    height: 10px;
    padding-left: 10px;
    padding-top: 7px;
    padding-right: 10px;
    padding-bottom: 7px;
    display: flex;
    align-items: center;
    justify-content: center; 
}

main{
    display: flex;
    margin-left: 50px;
}

section{
    background: #F2F2F2;
    border-radius: 20px;
    margin-right: 40px;
}

/*#premiere{
    width: 120%;
    height: 300%;
}

#deuxieme{
    width: 60%;
    height: 300%;
}
*/

section h1{
font-family: 'ralewaybold';
font-size: 22px;
padding-left: 40px;
padding-top: 42px;
margin: 0px;
}

section a{
    padding-left: 44px;
font-family: 'ralewaybold';
font-size: 18px;
margin: 0px;
color: #000000;
text-decoration: none
;
}

section h3 {
    margin: auto;
    font-family: 'ralewaybold';
    font-size: 16px;
    padding-left: 16px;
}

section  p{
    margin-top: 9px;
    margin-bottom: 9px;
    font-family: 'ralewayregular';
    font-size: 14px;
    padding-left: 16px;
}

#etoiles{
    padding-left: 16px;
    padding-bottom: 12px;
    margin-top: auto;
}

i.fa-star{
    color:#0065FC;
    padding-right: 2px;
}

span i.fa-star{
    color: #F2F2F2;
}

.Lieux{
    width: 800px;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    padding-left:  40px;
    padding-right: 40px;
    padding-top: 23px;
}

.Lieux img{
    box-sizing: border-box;
    width: 100%;
    height: 124px;
    border: 5px solid #FFFFFF;
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
}

#contenulieux{
    width: 246px;
    height: 199px;
    background: #FFFFFF;
    border-radius: 20px;
    flex: none;
    margin-bottom: 30px;
}

#populaire{
    width: 343px;
    height: 625px;
    background: #F2F2F2;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-left: 37px;
    padding-right: 40px;
}

#titreicone{
    display: flex;
    align-items: center;
    padding-top: 41px;
}

#titreicone i.fa-chart-line{
    color: #0065FC;
    padding-left: 118px;  
}

#titreicone h2{
    font-size: 22px;
    font-family: 'ralewaybold';
    margin: 0px;
    padding: 0px;
}

#populaire h3{
font-size: 16px;
font-family: 'ralewaybold';
padding-top: 16px;
margin: 0px;
padding-left: 15px;
padding-right: 22px;
}

#populaire p{
    font-size: 14px;
    font-family: 'ralewayregular';
    padding-top: 7px;
    margin: 0px;
    padding-left: 15px;
}

#populaire img{
    box-sizing: border-box;
    width: 137px;
    height: 100%;
    border: 5px solid #FFFFFF;
    border-radius: 20px 0px 0px 20px;
    object-fit: cover;
}

.textpopulaire{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content:space-between
}

#contenupopulaire{
    width: 343px;
    height: 144px;
    background: #FFFFFF;
    border-radius: 20px;
    display: flex;
    flex-direction: row; 
}

article{
    display: flex;
    flex-direction: column;
    margin-left: 50px;
}

.activitésmar{
    display: flex;    
}

#Activitéstitre h2{
font-size: 22px;
font-family: 'ralewaybold';
margin: 0px;
padding-bottom: 18.63px;
padding-top: 60px;
}

.activitésmar h3{
    font-size: 16px;
    font-family: 'ralewaybold';
    padding-left: 19px;
}

.textactivités{
    width: 302px;
    height: 56px;
    background: #FFFFFF;
border-radius: 0px 0px 20px 20px;
}

#contenuact{
    display: flex;
    flex-direction: column;
    padding-right: 43px;
}

.activitésmar img{
    width: 302px;
    height: 389px;
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
}

footer{
    background: #F2F2F2;
    width: 1339px;
    height: 225px;
    margin-left: 48px;
    margin-top: 61px;
}

#footertext{
    padding-left: 70px;
    padding-top: 45px;
    display: flex;
    justify-content: space-between;
    text-align: start;
    padding-right: 348px;
}

footer h2{
    font-size: 18px;
    font-family: 'ralewaybold';
}

footer p{
    font-size: 16px;
    font-family: 'ralewayregular';
}