@font-face{
    font-family: 'ralewaybold';
    src: url(../polices/raleway-bold-webfont.eot);
    src: url(../polices/raleway-bold-webfont.svg);
    src: url(../polices/raleway-bold-webfont.ttf);
    src: url(../polices/raleway-bold-webfont.woff);
    src: url(../polices/raleway-bold-webfont.woff2);
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'ralewayregular';
    src: url(../polices/raleway-regular-webfont.eot);
    src: url(../polices/raleway-regular-webfont.svg);
    src: url(../polices/raleway-regular-webfont.ttf);
    src: url(../polices/raleway-regular-webfont.woff);
    src: url(../polices/raleway-regular-webfont.woff2);
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'ralewaymedium';
    src: url(../polices/raleway-medium-webfont.eot);
    src: url(../polices/raleway-medium-webfont.svg);
    src: url(../polices/raleway-medium-webfont.ttf);
    src: url(../polices/raleway-medium-webfont.woff);
    src: url(../polices/raleway-medium-webfont.woff2);
    font-weight: normal;
    font-style: normal;
}

body{
 background-color:#FFFFFF;
}

#bloc_page{
    max-width: 1400px;
}

a{
    text-decoration: none;
    color : #000000;
}

#logo img{
    width: 61.09px;
    height: 19px;
    padding-top: 44px;
    padding-left: 55px;
}

#logo{
    display: flex;
    width: 100%;
    justify-content: space-between; 
}

header ul{
    list-style-type: none;
    display: flex;
    margin-top: 48px;         
}

header a{
    font-family: 'ralewayregular';
    font-size: 16px;
    color:black; 
    text-decoration: none;
    padding-top: 46px;
    border-top: 2px solid #FFFFFF;
}
    
header li{
    margin-right: 67px;    
}

header a:hover {
    border-top: 2px solid #0065FC;
    
    color: #0065FC;
    font-family: 'ralewaymedium';
}

header h1{
    font-family: 'ralewaybold';
    font-size: 22px;
    margin-top: 63px;
    margin-left: 55px;
}

header h2{
    font-family: 'ralewayregular';
    font-size: 16px;
    margin-top: 8px;
    margin-left: 55px;
}

form{
    display: flex;
    align-items: center;
    margin-bottom: 46px;
}

input:focus{
    outline: none;
}

#rechercheville::placeholder{
    color: #000000;
}

#iconeloc{
    width: 50px;
    height: 49px;
    background: #F2F2F2;
    border: 1px solid #F2F2F2;
    border-radius: 15px 0px 0px 15px;
    position: absolute;
    display: flex;
    margin-left: 55px;
}
 
i.fa-location-dot{
    margin: auto;
}
 
 #rechercheville{
    width: 332px;
    height: 49px;
    font-size: 18px;
    font-family: 'ralewaybold';
    border-radius: 15px;
    border: 1px solid #F2F2F2;
    background: #FFFFFF;  
    padding-left: 67px;
    margin-left: 55px;
}

#bloc_recherche{
    color: #0065FC;
    border-radius : 0px 15px 15px 0px ;
    position:absolute;
    margin-left: 341px;
}
 
#bloc_recherche button{
    font-family: 'ralewaybold';
    font-size: 18px;
    color: #FFFFFF;
    width: 132px;
    height: 49px;
    background: #0065FC;
    border: 1px solid #0065FC;
    border-radius: 0px 15px 15px 0px;
}

button i.fa-magnifying-glass{
    display: none;
}

#choixoption{
    display: flex;
    margin-left: 62px;
    /* margin-right:420px; */
    /*justify-content: space-between;*/
    width: 65%;
}

#choixoption h3{
    font-family: 'ralewaybold';
    font-size: 18px;
}

#choixoption .boutonmenu{
    border: 2px solid #D9D9D9;
    border-radius: 25px;
    background-color: #F0F2F6;
    width: max-content;
    /* margin: auto; */
    font-size: 17px;
    font-family: 'ralewaybold';
    color: #000000;
    padding-right: 20px;
    height:50px;
}

#choixoption .boutonmenu:hover{
    background-color: #DEEBFF;
}

#choixoption i.fa-solid{
    margin: auto;
    color: #0065FC;
}

.alignement_filtre {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

#information{
    display: flex;
    align-items: center;
    margin-left: 59px;
    margin-top: 35px;
    margin-bottom: 39px;
}

#information p{
    font-family: 'ralewayregular';
    font-size: 16px; 
    padding-left: 11px;
}

i.fa-info{
    border: 1px solid #D9D9D9;
    border-radius: 50px;
    color: #0065FC;
    width: 4px;
    height: 10px;
    padding-left: 10px;
    padding-top: 7px;
    padding-right: 10px;
    padding-bottom: 7px;
    display: flex;
    align-items: center;
    justify-content: center; 
}

main{
    display: flex;
    margin-left: 50px;
}

section{
    background: #F2F2F2;
    border-radius: 20px;
}

#premiere{
    width: 64%;
    margin-right: 40px;
}

#deuxieme{
    width: 30%;
}

#premiere h2{
    font-family: 'ralewaybold';
    font-size: 22px;
    padding-left: 40px;
    padding-top: 42px;
    margin: 0px;
    padding-bottom: 23px;
}
    
section h3{
        margin: auto;
        font-family: 'ralewaybold';
        font-size: 16px;
        padding-left: 16px;
}
    
section p{
        margin-top: 9px;
        margin-bottom: 9px;
        font-family: 'ralewayregular';
        font-size: 14px;
        padding-left: 16px;
}

#textaffichage{
    font-size: 18px;
    font-family: 'ralewaybold';
    padding-left: 44px;
    padding-top: 40px;
}

.etoiles{
    padding-left: 16px;
    padding-bottom: 12px;
    margin-top: auto;
}

i.fa-star{
    color:#0065FC;
}

span i.fa-star{
    color: #F2F2F2;
}

.Lieux{
    display: grid;
    grid-template-columns: 30.5% 30.5% 30.5%;
    column-gap:  31px;
    row-gap: 30px;
    padding-left: 40px;
    padding-right: 40px;
}

.Lieux img{
    box-sizing: border-box;
    width: 100%;
    height: 124px;
    border: 5px solid #FFFFFF;
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
}

.contenulieux{
    height: 199px;
    background: #FFFFFF;
    border-radius: 20px;
    box-shadow: 0px 0px 15px 2px rgba(0,0,0,0.39);
}

#populaire{
    display: grid;
    row-gap: 30px;
    margin-bottom:34px; 
}

#titreicone{
    display: flex;
    align-items: center;
    padding-top: 41px;
    padding-bottom: 26px;
    justify-content: space-between;
}

#titreicone i.fa-chart-line{
    color: #0065FC;
    padding-right: 38px;  
}

#titreicone h2{
    font-size: 22px;
    font-family: 'ralewaybold';
    margin: 0px;
    margin-left: 37px;
}

#populaire h3{
    padding-top: 16px;
    margin: 0px;
    padding-left: 15px;
    padding-right: 22px;
}

#populaire p{
    padding-top: 7px;
    margin: 0px;
    padding-left: 15px;
}

#populaire a {
    width: 80%;
}

#populaire img{
    box-sizing: border-box;
    width:40%;
    border: 5px solid #FFFFFF;
    border-radius: 20px 0px 0px 20px;
    object-fit: cover;
}

.textpopulaire{
    display: flex;
    flex-direction: column;
}

.contenupopulaire{
    width: 100%;
    margin-left:38px;
    /* margin-bottom:34px; */
    height: 144px;
    background: #FFFFFF;
    border-radius: 20px;
    display: flex;
    box-shadow: 0px 0px 15px 2px rgba(0,0,0,0.39);
}

article{
    width: 93%;
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    margin-right:53px;
}

.activitésmar{
    display: flex;
    justify-content: space-between;
}

.activitésmar a{
    width: 23.5%;
}

#Activitéstitre h2{
    font-size: 22px;
    font-family: 'ralewaybold';
    margin: 0px;
    padding-bottom: 18.63px;
    padding-top: 60px;
}

.activitésmar h3{
    font-size: 16px;
    font-family: 'ralewaybold';
    padding-left: 19px;
}

.textactivités{
    height: 56px;
    background: #FFFFFF;
    border-radius: 0px 0px 20px 20px;
}

.contenuact{
    display: flex;
    flex-direction: column;
    /* margin-right: 37px; */
    box-shadow: 0px 0px 15px 2px rgba(0,0,0,0.39);
    border-radius: 20px 20px 20px 20px;
}

.activitésmar img{
    width: 100%;
    height: 389px;
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
}

footer{
    background: #F2F2F2;
    width: 93%;
    height: 225px;
    margin-left: 48px;
    margin-top: 61px;
}

#footertext{
    padding-left: 70px;
    padding-top: 45px;
    display: flex;
    justify-content: space-between;
    width:73%;
}

footer h2{
    font-size: 18px;
    font-family: 'ralewaybold';
}

footer p{
    font-size: 16px;
    font-family: 'ralewayregular';
}

@media screen and (max-width: 992px) {
    main{
        flex-direction: column;
    }

    section p{
        font-size: 13px;
    }

    #deuxieme {
        margin-top: 53px;
        height: 278px;
        width: 95%;
    }

    #choixoption{
        width: 85%;
    }

    #premiere{
        width: 95%;
        height: 626px;
    }

    #populaire{
        display: flex;
        flex-direction: row;
    }

    #populaire img{
      width:42%;
    }

    #titreicone {
        margin-left: 40px;
    }

    #titreicone h2{
        margin:0px
    }

    #populaire a{
        width: 29%;
        margin: auto;
    }
    .contenupopulaire{
        width: 100%;
        height: 144px;
        margin-left: 0px;
    }

    .contenuact{
        /*margin-right: 48px;*/
    }

    article{
        width: 89%;
    }

    .activitésmar{
        display: flex;
        justify-content: space-between;
        margin:auto ;
    }

    .activitésmar img{
        height: 211px;
    }

    .activitésmar a{
        width: 20%;
        height: 267px;
    }

    .textactivités {
        display: flex;
        align-items: center;
    }

    footer{
        width:90%;
    }
}

@media all and (max-width: 768px) {
    #logo{
        display: block;
    }

    header h1{
        margin-left: 20px;
    }

    header h2{
        margin-left: 20px;
    }

    #iconeloc {
        margin-left: 20px;
    }

    #rechercheville {
        margin-left: 20px;
    }

    #bloc_recherche {
        margin-left: 306px;
    }

    #logo img{
        padding-top: 21px;
        padding-left: 0px;
        margin-left:45%;
    }

    ul{
        width: 100%;
        padding-left: 0px;
    }
    
    #logo a:hover {
        border-bottom: 3px solid #0065FC;
        color: #0065FC;
        border-top: none;
    }
    
    header li {
        margin-right: 0px;
    }
    li{
        width: 50%;
    }

    #logo a{
        width: 100%;
        display: block;
        border-bottom: 2px solid #F2F2F2;
        padding-bottom: 23px;
        text-align: center;
    }

    nav{
        margin-top: 36px;
    }

    button span{
        display:none;
    }

    button i.fa-magnifying-glass{
       display: initial;
    }

    #bloc_recherche button{
        width: 49px;
    }

    #choixoption{
        display: block;
        margin-left: 20px;
    }

    .alignement_filtre{
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
        column-gap: 14px;
        row-gap: 17px;
    }

    #choixoption .boutonmenu{
        width: 160px;
        font-size: 11px;
    }

    #choixoption i.fa-solid{
        padding-left: 0px;
        font-size: 16px;
        padding-right: 0px;
    }

    #information{
        margin-left: 20px;
    }

    main{
        flex-direction: column-reverse;
        margin-left: 0px;
    }

    #premiere{
        margin-top: 26px;
        width: 100%;
        background-color: #FFFFFF;
        height: auto;
    }

    #premiere h2{
        padding-left: 20px;
    }

    .Lieux{
        margin-left: 20px;
        display: flex;
        flex-direction: column;
        row-gap: 12px;
        padding-left: 0px;
        width: 92%;
    }

    .Lieux a{
        width: 100%;
        
        
    }

    .contenulieux{
       /* width: 335px;*/
        margin: auto;
    }

    #textaffichage {
        display: none;
    }

    #deuxieme{
        width: 100%;
        height: 580px;
    }

    #populaire{
        flex-direction: column;
        margin: 0px;
        row-gap: 11px;
    }

    #populaire a {
        margin:auto;
        width: 92%;
    }

    .contenupopulaire {
        width: 100%;
    }

    article{
        margin-left: 0px;
        margin-right: 0px;
        width: 100%;
    }

    #Activitéstitre h2 {
        width: 40%;
        margin-left: 20px;
    }

    .activitésmar {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-left: 20px;
    }

    .activitésmar a{
        height: 190px;
        margin-bottom: 24px;
        width: 100%;
    }

    .contenuact {
        /*width: 334px;*/
        width: 92%;
    }

    .activitésmar img {
       /* width: 334px;*/
       width: 100%;
        height: 134px;
    }

    .textactivités{
        width: 100%;
    }

    footer{
        height: auto;
        width: 100%;
        margin-left: 0px;
    }


    #footertext{
        flex-direction: column;
    }
}