@font-face{
    font-family: 'ralewaybold';
    src: url(../polices/raleway-bold-webfont.eot);
    src: url(../polices/raleway-bold-webfont.svg);
    src: url(../polices/raleway-bold-webfont.ttf);
    src: url(../polices/raleway-bold-webfont.woff);
    src: url(../polices/raleway-bold-webfont.woff2);
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'ralewayregular';
    src: url(../polices/raleway-regular-webfont.eot);
    src: url(../polices/raleway-regular-webfont.svg);
    src: url(../polices/raleway-regular-webfont.ttf);
    src: url(../polices/raleway-regular-webfont.woff);
    src: url(../polices/raleway-regular-webfont.woff2);
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'ralewaymedium';
    src: url(../polices/raleway-medium-webfont.eot);
    src: url(../polices/raleway-medium-webfont.svg);
    src: url(../polices/raleway-medium-webfont.ttf);
    src: url(../polices/raleway-medium-webfont.woff);
    src: url(../polices/raleway-medium-webfont.woff2);
    font-weight: normal;
    font-style: normal;
}

body{
 background-color:#FFFFFF;
}

#bloc_page{
    max-width: 1400px;
    margin: auto;
}

a{
    text-decoration: none;
    color : #000000;
}

.logo img{
    width: 61.09px;
    height: 19px;
    padding: 44px 0px 0px 55px;
}

.logo{
    display: flex;
    width: 100%;
    justify-content: space-between; 
}

header ul{
    list-style-type: none;
    display: flex;
    margin-top: 48px;         
}

header a{
    font-family: 'ralewayregular';
    font-size: 16px;
    padding-top: 46px;
    border-top: 2px solid #FFFFFF;
}
    
header li{
    margin-right: 67px;    
}

header a:hover {
    border-top: 2px solid #0065FC;
    color: #0065FC;
    font-family: 'ralewaymedium';
}

header h1{
    font-family: 'ralewaybold';
    font-size: 22px;
    margin: 63px 0px 0px 55px;
}

header h2{
    font-family: 'ralewayregular';
    font-size: 16px;
    margin: 8px 0px 20px 55px;
}

form{
    display: flex;
    align-items: center;
    margin-bottom: 46px;
}

input:focus{
    outline: none;
}

#recherche_ville::placeholder{
    color: #000000;
}

.icone_loc{
    width: 50px;
    height: 49px;
    background: #F2F2F2;
    border: 1px solid #F2F2F2;
    border-radius: 15px 0px 0px 15px;
    position: absolute;
    display: flex;
    margin-left: 55px;
}
 
i.fa-location-dot{
    margin: auto;
}
 
 #recherche_ville{
    width: 332px;
    height: 49px;
    font-size: 18px;
    font-family: 'ralewaybold';
    border-radius: 15px;
    border: 1px solid #F2F2F2;
    background: #FFFFFF;  
    padding-left: 67px;
    margin-left: 55px;
}

.bloc_recherche{
    border-radius : 0px 15px 15px 0px ;
    position:absolute;
    margin-left: 341px;
}
 
.bloc_recherche button{
    font-family: 'ralewaybold';
    font-size: 18px;
    color: #FFFFFF;
    width: 132px;
    height: 49px;
    background: #0065FC;
    border: 1px solid #0065FC;
    border-radius: 0px 15px 15px 0px;
}

button i.fa-magnifying-glass{
    display: none;
}

.choix_option{
    display: flex;
    margin-left: 62px;
    width: 65%;
}

.choix_option h3{
    font-family: 'ralewaybold';
    font-size: 18px;
}

.choix_option .bouton_menu{
    border: 2px solid #D9D9D9;
    border-radius: 25px;
    background-color: #F0F2F6;
    width: max-content;
    font-size: 17px;
    font-family: 'ralewaybold';
    color: #000000;
    padding-right: 10px;
    height:50px;
}

.choix_option .bouton_menu:hover{
    background-color: #DEEBFF;
}

.choix_option i.fa-solid{
    margin: auto;
    color: #0065FC;
    padding-left:10px;
}

.alignement_filtre {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.information{
    display: flex;
    align-items: center;
    margin: 35px 0px 39px 59px;
}

.information p{
    font-family: 'ralewayregular';
    font-size: 16px; 
    padding-left: 11px;
}

i.fa-info{
    border: 1px solid #D9D9D9;
    border-radius: 50px;
    color: #0065FC;
    width: 4px;
    height: 10px;
    padding: 7px 10px 7px 10px;
    display: flex;
    align-items: center;
    justify-content: center; 
}

main{
    display: flex;
    margin-left: 50px;
}

.euros{
    font-weight: 600;
}

section{
    background: #F2F2F2;
    border-radius: 20px;
}

#premiere{
    width: 64%;
    margin-right: 40px;
}

#deuxieme{
    width: 30%;
}

#premiere h2{
    font-family: 'ralewaybold';
    font-size: 22px;
    margin: 0px;
    padding: 42px 0px 23px 40px;
}
    
section h3{
    margin: auto;
    font-family: 'ralewaybold';
    font-size: 16px;
    padding-left: 16px;
}
    
section p{
    margin: 3px 0px 6px 0px;
    font-family: 'ralewayregular';
    font-size: 14px;
    padding-left: 16px;
}

.text_affichage{
    font-size: 18px;
    font-family: 'ralewaybold';
    padding: 40px 0px 0px 44px;
}

.etoiles{
    padding: 0px 0px 12px 16px;
    margin-top: auto;
}

i.fa-star{
    color:#0065FC;
}

span i.fa-star{
    color: #F2F2F2;
}

.Lieux{
    display: grid;
    grid-template-columns: 30.5% 30.5% 30.5%;
    column-gap:  31px;
    row-gap: 30px;
    padding: 0px 40px 0px 40px;
}

.Lieux img{
    box-sizing: border-box;
    width: 100%;
    height: 124px;
    border: 5px solid #FFFFFF;
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
}

.contenu_lieux{
    height: 199px;
    background: #FFFFFF;
    border-radius: 20px;
    box-shadow: 0px 0px 15px 2px rgba(0,0,0,0.39);
}

.populaire{
    display: grid;
    row-gap: 30px;
    margin-bottom:34px; 
}

.titre_icone{
    display: flex;
    align-items: center;
    padding: 41px 0px 26px 0px;
    justify-content: space-between;
}

.titre_icone i.fa-chart-line{
    color: #0065FC;
    padding-right: 38px;  
}

.titre_icone h2{
    font-size: 22px;
    font-family: 'ralewaybold';
    margin: 0px 0px 0px 37px;
}

.populaire h3{
    margin: 0px;
    padding: 16px 22px 0px 15px;
}

.populaire p{
    padding-top: 7px;
    margin: 0px;
}

.populaire a {
    width: 80%;
}

.populaire img{
    box-sizing: border-box;
    width:40%;
    border: 5px solid #FFFFFF;
    border-radius: 20px 0px 0px 20px;
    object-fit: cover;
}

.text_populaire{
    display: flex;
    flex-direction: column;
}

.contenu_populaire{
    width: 100%;
    margin-left:38px;
    height: 144px;
    background: #FFFFFF;
    border-radius: 20px;
    display: flex;
    box-shadow: 0px 0px 15px 2px rgba(0,0,0,0.39);
}

article{
    width: 93%;
    display: flex;
    flex-direction: column;
    margin-left: 50px;
}

.activités_mar{
    display: flex;
    justify-content: space-between;
}

.activités_mar a{
    width: 23.5%;
}

.Activités_titre h2{
    font-size: 22px;
    font-family: 'ralewaybold';
    margin: 0px 0px 0px 22px;
    padding: 60px 0px 18.63px 0px;
    width: 55%;
}

.activités_mar h3{
    font-size: 16px;
    font-family: 'ralewaybold';
    padding-left: 19px;
}

.text_activités{
    height: 56px;
    background: #FFFFFF;
    border-radius: 0px 0px 20px 20px;
}

.contenu_act{
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 15px 2px rgba(0,0,0,0.39);
    border-radius: 20px 20px 20px 20px;
}

.activités_mar img{
    width: 100%;
    height: 389px;
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
}

footer{
    background: #F2F2F2;
    width: 93%;
    height: 225px;
    margin: 61px 0px 0px 48px;
}

#footer_text{
    padding: 45px 0px 0px 70px;
    display: flex;
    justify-content: space-between;
    width:73%;
}

footer h2{
    font-size: 18px;
    font-family: 'ralewaybold';
}

footer a{
    font-size: 16px;
    font-family: 'ralewayregular';
    display:flex;
    flex-direction:column;
    padding-bottom:12px;
}

@media screen and (max-width: 992px) {
    main{
        flex-direction: column;
    }

    section p{
        font-size: 13px;
    }

    #deuxieme {
        height: 278px;
        width: 95%;
        margin-top: 53px;
    }

    .choix_option{
        width: 85%;
    }

    #premiere{
        width: 95%;
        height: 626px;
    }

    .populaire{
        display: flex;
    }

    .populaire img{
      width:42%;
    }

    .titre_icone {
        margin-left: 40px;
    }

    .titre_icone h2{
        margin:0px
    }

    .populaire a{
        width: 29%;
        margin: auto;
    }
    .contenu_populaire{
        margin-left: 0px;
    }

    article{
        width: 89%;
    }

    .activités_mar img{
        height: 211px;
    }

    .activités_mar a{
        width: 20%;
    }

    .text_activités {
        display: flex;
        align-items: center;
    }

    footer{
        width:90%;
    }
}

@media all and (max-width: 768px) {
    body{
        margin: 0px;
    }

    .logo{
        display: block;
    }

    header a{
        padding-top: 0px;
    }

    header h1{
        margin: 31px 0px 0px 20px;
        width:85%;
    }

    header h2{
        margin-left: 20px;
    }

    .icone_loc {
        margin-left: 20px;
    }

    #recherche_ville {
        margin-left: 20px;
    }

    .bloc_recherche {
        margin-left: 306px;
    }

    .logo img{
        padding: 21px 0px 0px 0px;
        margin-left:45%;
    }

    ul{
        width: 100%;
        padding-left: 0px;
    }
    
    .logo a:hover {
        border-bottom: 3px solid #0065FC;
        color: #0065FC;
        border-top: none;
    }
    
    header li {
        margin-right: 0px;
    }

    li{
        width: 50%;
    }

    .logo a{
        width: 100%;
        display: block;
        border-bottom: 2px solid #F2F2F2;
        padding-bottom: 23px;
        text-align: center;
    }

    nav{
        margin-top: 36px;
    }

    button span{
        display:none;
    }

    button i.fa-magnifying-glass{
       display: initial;
    }

    .bloc_recherche button{
        width: 49px;
    }

    .choix_option{
        display: block;
        margin-left: 20px;
    }

    .alignement_filtre{
        display: grid;
        grid-template-columns: 50% 50%;
        column-gap: 14px;
        row-gap: 17px;
    }

    .choix_option .bouton_menu{
        width: 100%;
        font-size: 11px;
        text-align: left;
    }

    .choix_option i.fa-solid{
        padding-right : 5px;
        font-size: 16px;
    }

    .information{
        margin-left: 20px;
    }

    main{
        flex-direction: column-reverse;
        margin-left: 0px;
    }

    #premiere{
        margin-top: 26px;
        width: 100%;
        background-color: #FFFFFF;
        height: auto;
    }

    #premiere h2{
        padding-left: 20px;
    }

    .Lieux{
        margin-left: 15px;
        display: flex;
        flex-direction: column;
        row-gap: 25px;
        padding-left: 0px;
        width: 92%;
    }

    .Lieux a{
        width: 100%;
    }

    .text_affichage {
        display: none;
    }

    #deuxieme{
        width: 100%;
        height: 580px;
        margin-top: 0px;
        border-radius: 0px;
    }

    .populaire{
        flex-direction: column;
        row-gap: 11px;
    }

    .populaire a {
        width: 92%;
    }

    .contenu_populaire {
        width: 100%;
    }

    article{
        margin-left: 0px;
        width: 100%;
    }

    #Activités_titre h2 {
        width: 40%;
        margin-left: 20px;
    }

    .activités_mar {
        flex-direction: column;
        width: 100%;
        margin-left: 15px;
    }

    .activités_mar a{
        height: 190px;
        margin-bottom: 24px;
        width: 100%;
    }

    .contenu_act {
        width: 92%;
    }

    .activités_mar img {
       width: 100%;
        height: 134px;
    }

    footer{
        height: auto;
        width: 100%;
        margin-left: 0px;
    }

    #footer_text{
        flex-direction: column;
        padding: 45px 0px 0px 22px;
    }
}